<body>    
    <form method="POST" action="">
        <h1>로그인</h1>
        <div id='id_wrapper' style='margin:20px'>
            <p>아이디</p>
            <input type = "text" name = "id_input" minlength=10 maxlength=20/>
        </div>
        <div id='password_wrapper' style='margin:20px'>
            <p>비밀번호</p>
            <input type = "password" name = "pw_input" minlength=6 maxlength=20 />
        </div> 
        <button type="submit" name="login_clicked" value="login_clicked" style="position: absolute; top: 250px; left: 30px;"> 로그인 </button>
        <button type="submit" name="back_clicked" value="back_clicked" style="position: absolute; top: 250px; left: 100px;"> 돌아가기 </button>
    </form>
</body>